{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Paiement - {{ parent() }}{%  endblock %}

{% block resaActive %}class="active"{% endblock %}

{% block titleSection %}Paiement des billets :{% endblock %}

{% block body %}

    <div class="row resa-info">
        <p class="bg-info text-info text-center  col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
            Vous désirez {{ resa.nbBillets }} billet(s) {% if resa.demijournee %}demi-{% endif %}journée pour le {{ resa.dateresa|date("d/m/Y") }}
        </p>
        <a class="btn btn-default col-sm-4 col-sm-offset-4  col-xs-8 col-xs-offset-2" href="{{ path('louvre_resa_completer', {'resaCode': resa.resaCode}) }}">Modifier ma réservation</a>
    </div>

    {{ include('@ARLouvre/Resa/errorResa.html.twig') }}

    <div class="row">

        <div class="text-center col-xs-10 col-xs-offset-1">

            <div id="recap-resa">

                <h4>Les billets sont nominatifs et vont être réservés pour les personnes suivantes :</h4>

                <ul id="liste-recap">
                    {% for billet in resa.billets %}
                        <li>
                            <p>
                                {{ billet.nom }} {{ billet.prenom }}, né(e) le {{ billet.dateNaissance|date("d/m/Y") }}, prix de ce billet :
                                {% if resa.demijournee %} {{ billet.prix/2 }} {% else %} {{ billet.prix }} {% endif %}
                                euros.
                                {% if billet.tarifReduit %}
                                    <br><i>Vous devrez présenter votre justificatif tarif réduit à l'entrée.</i>
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>


                <p><strong>Montant de total de la réservation : <br> {{ resa.prixTotal }} €</strong></p>
            </div>

            <form method="POST">

                <script
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="{{ public_key }}"
                        data-amount="{{ resa.prixTotal * 100 }}"
                        data-name="Payez votre réservation"
                        data-description="Vous recevrez vos billets par email"
                        data-image = "{{ asset('images/louvre-small.jpg') }}"
                        data-locale="auto"
                        data-currency="eur"
                        >
                </script>
                <button class="btn btn-primary">Payez par carte bancaire</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.stripe-button-el').hide();
    </script>
{% endblock %}