<div class="ticket-fill">
    <h4><i class="glyphicon glyphicon-user"></i>Billet n°<span class="ticket-nb">1</span> :</h4>
    <div class="form-group">
        {{ form_label(billet.nom, 'Nom') }}
        {{ form_errors(billet.nom) }}
        {{ form_widget(billet.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(billet.prenom, 'Prenom') }}
        {{ form_errors(billet.prenom) }}
        {{ form_widget(billet.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(billet.pays, 'Pays') }}
        {{ form_errors(billet.pays) }}
        {{ form_widget(billet.pays, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(billet.dateNaissance, 'Date de naissance') }}
        {{ form_errors(billet.dateNaissance) }}
        {{ form_widget(billet.dateNaissance, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(billet.tarifReduit, 'Tarif réduit ?') }}
        {{ form_errors(billet.tarifReduit) }}
        {{ form_widget(billet.tarifReduit, {'attr': {'onclick': 'if(this.checked){this.nextElementSibling.setAttribute("style", "display: block")}else{this.nextElementSibling.setAttribute("style", "display: none")}'}}) }}
        <p class="tarif-reduit-info" style="display: none">Il sera nécessaire de présenter une carte d'étudiant, militaire ou équivalent lors de l'entrée au musée.</p>
    </div>
    <p>Tarif de ce billet :</p>
</div>
