{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Compléter réservation - {{ parent() }}{%  endblock %}

{% block resaActive %}class="active"{% endblock %}

{% block titleSection %}Complétez vos billets :{% endblock %}

{% block body %}

    <div class="row resa-info">
        <p class="bg-info text-info text-center  col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
            Vous désirez {{ resa.nbBillets }} billet(s) {% if resa.demijournee %}demi-{% endif %}journée pour le {{ resa.dateresa|date("d/m/Y") }}
        </p>
        <a class="btn btn-default col-sm-4 col-sm-offset-4  col-xs-8 col-xs-offset-2" href="{{ path('louvre_resa_initialiser', {'resaCode': resa.resaCode}) }}">Modifier ma réservation</a>
    </div>

    <div class="row">

        {{ form_start(form, {'attr': {'class': 'col-sm-6 col-sm-offset-3'}}) }}

            {{ form_errors(form) }}

            <div id="proto-container"
                 data-prototype="{% filter escape %}{{ include('@ARLouvre/Resa/billetsFormProto.html.twig', { 'billet': form.billets.vars.prototype }) }}{% endfilter %}"
            >
            {% for billet in form.billets %}

                 <div class="ticket-fill">

                     <h4><i class="glyphicon glyphicon-user"></i>Billet n°<span class="ticket-nb">1</span> :</h4>

                     <div class="form-group">
                         {{ form_label(billet.nom, 'Nom') }}
                         {{ form_errors(billet.nom) }}
                         {{ form_widget(billet.nom, {'attr': {'class': 'form-control'}}) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(billet.prenom, 'Prenom') }}
                         {{ form_errors(billet.prenom) }}
                         {{ form_widget(billet.prenom, {'attr': {'class': 'form-control'}}) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(billet.pays, 'Pays') }}
                         {{ form_errors(billet.pays) }}
                         {{ form_widget(billet.pays, {'attr': {'class': 'form-control'}}) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(billet.dateNaissance, 'Date de naissance') }}
                         {{ form_errors(billet.dateNaissance) }}
                         {{ form_widget(billet.dateNaissance) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(billet.tarifReduit, 'Tarif réduit ?') }}
                         {{ form_errors(billet.tarifReduit) }}
                         {{ form_widget(billet.tarifReduit) }}
                     </div>

                     {# TODO ajouter info tarif réduit #}
                     <p>Tarif de ce billet :</p>
                 </div>
            {% endfor %}
            </div>

        <hr>

        <div class="resa-info">
            <p><strong>Montant de votre réservation :</strong></p>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'resa-submit btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/resa-fill.js') }}"></script>
{% endblock %}