{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Réserver - {{ parent() }}{%  endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block resaActive %}class="active"{% endblock %}

{% block titleSection %}Réservez vos billets :{% endblock %}

{% block body %}

    <div class="row">

        {{ form_start(form, {'attr': {'class': 'col-sm-6 col-sm-offset-3'}}) }}

            {{ form_errors(form) }}

            <div class="form-group">
                <i class="glyphicon glyphicon-calendar"></i>
                {{ form_label(form.dateresa, "Choisissez une date") }}
                {{ form_errors(form.dateresa) }}
                {{ form_widget(form.dateresa, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <i class="glyphicon glyphicon-barcode"></i>
                {{ form_label(form.demijournee, "Choisissez le type de billets") }}
                {{ form_errors(form.demijournee) }}
                {{ form_widget(form.demijournee, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <i class="glyphicon glyphicon-user"></i>
                {{ form_label(form.nbBillets, 'Nombre de billets souhaité') }}
                {{ form_errors(form.nbBillets) }}
                {{ form_widget(form.nbBillets, {'attr': {'class': 'form-control'}}) }}
            </div>

            {# TODO modifier affichage pour remplacer "save" #}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>
    <script>
        $(document).ready(function () {
            $('#reservation_dateresa').datepicker({
                startDate: "now",
                language: "fr",
                daysOfWeekDisabled: "0",
                toggleActive: true
            });
        });
    </script>
{% endblock %}
