{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Réserver - {{ parent() }}{%  endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block resaActive %}class="active"{% endblock %}

{% block titleSection %}Réservez vos billets :{% endblock %}

{% block body %}

    <div class="row">

        <form class="col-sm-6 col-sm-offset-3" method="POST" {#TODO lien provisoire#}action="{{ path('louvre_resa_completer') }}"  >

            <div class="form-group">
                <i class="glyphicon glyphicon-calendar"></i>
                <label for="reservation-date">Choisissez une date</label>
                <div id="date-picker" class="center-element"></div>
            </div>

            <div class="form-group">
                    <i class="glyphicon glyphicon-barcode"></i>
                    <label for="reservation-type">Choisissez le type de billet</label>
                    <select class="form-control" name="reservation-type">
                        <option>journée</option>
                        <option>demi-journée</option>
                    </select>
            </div>

            <div class="form-group">
                <i class="glyphicon glyphicon-user"></i>
                <label for="reservation-nombre">Nombre de billets souhaité</label>
                <input class="form-control" type="number" name="reservation-nombre">
            </div>
            <button type="submit" class="btn btn-primary">Réserver !</button>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#date-picker').datepicker({
                startDate: "now",
                language: "fr",
                daysOfWeekDisabled: "0",
                toggleActive: true
            });
        });
    </script>
{% endblock %}
